---
layout: main
---
<div class="inner">
	<div id="collapse">
	<a href="#" class="image avatar"><img src="images/avatar.jpg" alt="" /></a>
	<h1><strong class="liquid">Solom</strong></h1> <br />
	<p class="liquid">Your expert in the cloud</p>
	</p>
	<br />
	<br class="liquid" />
	<br class="liquid" />
	{% for my_page in site.pages %}
	
	{% if my_page.title %} 
		{% if my_page.title == "Articles by tag" or my_page.title == "Articles by category"   %} 
			{% continue %}
		{% endif %}
	
	<h4><a class="liquid" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></h4>
	{% endif %}
  {% endfor %}
</div>