---
layout: main
---


    <!-- One -->
    {{ content }}

        <section id="two">

            <h1>Our work</h2>
            <div class="row">
                <article>

                    <p>Slides from our presentations and talks can be found
                    <a href="https://www.slideshare.net/AudunSolemdal/presentations"> here</a>.
                        
                    
                    <br>
                    Recent projects are described
                    <a href="/online-cv#projects"> here</a>.
                        
                    </p>
                </article>
            </div>
        </section>
</div>